<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
<script src="/static/js/jquery-1.11.3.js"></script>
{% csrf_token %}
<p>
    用户名称:<input type="text" id="uname">
</p>
<p>
    密码:<input type="text" id="pwd">
</p>
<button id="btn">提交</button>
<script>

    $(function(){
        $('#btn').click(function(){
            var uname=$('#uname').val();
            var password=$('#pwd').val();
            var csrf=$('[name=csrfmiddlewaretoken]').val();
            var params='uname='+uname+'&pwd='+password+'&csrfmiddlewaretoken='+csrf;
            $.ajax({
                url:'/register',
                type:'post',
                data:params,
                success:function(res){
                    alert(res);
                }
            })
        })
    })
</script>
</body>
</html>