<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TestJson</title>
</head>
<body>
<script src="/static/js/jquery-1.11.3.js"></script>
<script>
    $(function(){
        $('#btn').click(function(){
            //单个对象
            var json_obj={
                'username':'aid2010',
                'age':18,
            };
            console.log(json_obj.username,json_obj.age);
            console.log(json_obj);
            //json数组
            var json_arr=[
                {
                    'name':'tedu',
                    'age':18,
                },
                {
                    'name':'tedu2',
                    'age':18,
                }
            ];
            //console.log(json_arr)
            //数组遍历
            $(json_arr).each(function(index,obj){
                console.log(index,obj.name,obj.age)
            })
            //数组遍历
            $.each(json_arr,function(i,o){
                console.log(i,o.name,o.age);
            })
        })
    })
</script>
<button id="btn">TestJson</button>

</body>
</html>